body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
}

:root {
    --black: #121212;
    --white: #fafafa;
}

#root {
    max-width: 1600px;
    margin: 0 auto;
}